---
layout: home
location: college-station
title: Home
---

<div class="container-fluid home-banner home-banner-{{ page.location }}">
	<div class="row">
		<div class="col align-self-center">
			<img class="spine z-0" src="/assets/img/spine-2.webp"/>
			<p class="welcome">
				<span>Hi, I'm</span> <span class="welcome-color-2">{{ site.data.[page.location].general.welcome-name }}</span>
			</p>
			<p>
				<a href="{{ site.data.[page.location].general.bookingurl }}" target="_blank"><button type="button" class="btn btn-primary btn-lg">Book an Appointment</button></a>
			</p>
		</div>
	</div>
</div>
<div class="container-fluid home-description home-description-{{ page.location }} gradient p-5">
	<div class="row description">
		<div class="col align-self-center">{{ site.data.[page.location].general.description }}</div>
	</div>
	<div class="row">
		<div class="col-4 offset-2 offset-sm-4 offset-md-6 offset-lg-8 py-4">
			<img class="signature" src="{{ site.data.[page.location].general.signature-url }}"/>
		</div>
	</div>
</div>
<div class="container-fluid features-mobile features-{{ page.location }} offset-md-3">
	{% capture features_index %}{{ 12 | divided_by: site.data.[page.location].features.size | round }}{% endcapture %}
	{% for feature in site.data.[page.location].features %}
	<div class="card mb-3">
		<div class="row g-0">
			<div class="col-md-4">
				<img class="card-img-top" src="{{ feature.img }}"/>
			</div>
			<div class="col-md-5 align-self-center">
				<a href="{{ feature.href }}"><button type="button" class="btn btn-light shadow p-5">{{ feature.title }}</button></a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<div class="container-fluid features features-{{ page.location }}">
	<div class="row justify-content-evenly">
		{% capture features_index %}{{ 12 | divided_by: site.data.[page.location].features.size | round }}{% endcapture %}
		{% for feature in site.data.[page.location].features %}
		<div class="col-4">
			<div class="card mx-auto rounded-3">
				<img class="card-img-top" src="{{ feature.img }}"/>
				<div class="features-button">
					<a href="{{ feature.href }}"><button type="button" class="btn btn-light shadow p-3">{{ feature.title }}</button></a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<div class="container-fluid why-me why-me-{{ page.location }}">
	<div class="row justify-content-lg-end">
		<div class="col-10 col-lg-6 card m-5 rounded-3">
			<h1 class="m-5">Why Choose Me?</h1>
			<ul class="mx-5 nav nav-underline" id="whyMeTabs" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="experience-tab" data-bs-toggle="tab" data-bs-target="#experience-tab-pane" type="button" role="tab" aria-controls="experience-tab-pane" aria-seleced="true">Experience</button>
				</li>
				<li class="nav-item">
					<button class="nav-link" id="passions-tab" data-bs-toggle="tab" data-bs-target="#passions-tab-pane" type="button" role="tab" aria-controls="passions-tab-pane" aria-seleced="true">Passions</button>
				</li>
			</ul>
			<div class="mx-5 my-3 tab-content" id="whyMeTabsContent">
				<div class="tab-pane fade show active" id="experience-tab-pane" role="tabpanel" aria-labelledby="experience-tab" tabindex="0">
					<ul class="lh-lg">
						{% for item in site.data.[page.location].why-me.experience %}
						<li>{{ item }}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="tab-pane fade" id="passions-tab-pane" role="tabpanel" aria-labelledby="passions-tab" tabindex="0">
					<ul class="lh-lg">
						{% for item in site.data.[page.location].why-me.passions %}
						<li>{{ item }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="mx-5 my-3"><a class="fw-bold link-primary link-underline-opacity-0" href="/{{ page.location }}/team/{{ site.data.[page.location].general.lead-doctor }}">Read More &gt;</a></div>
		</div>
	</div>
</div>
<div class="container-fluid read-reviews">
	<div class="row justify-content-evenly">
		<div class="col-10 m-5">
			<script src="https://static.elfsight.com/platform/platform.js" async></script>
			<div class="elfsight-app-53d76228-c4d3-4c40-bc7f-bc659aa7e9c6" data-elfsight-app-lazy></div>
		</div>
	</div>
</div>