{% if page.location %}
{% assign loc = site.data[page.location].general %}
{% capture hours %}{% for day in loc.hours %}{% for slot in day.hours %}{% if slot.opens and slot.closes %}
			{
				"@type": "OpeningHoursSpecification",
				"dayOfWeek": "{{ day.day }}",
				"opens": "{{ slot.opens }}",
				"closes": "{{ slot.closes }}"
			}, {% endif %}{% endfor %}{% endfor %}{% endcapture %}{% assign hoursLength = hours | size | minus: 2 %}
{% capture areasServed %}{% for area in loc.area_served %}
			{
				"@type": "AdministrativeArea",
				"name": "{{ area }}"
			}, {% endfor %}{% endcapture %}{% assign areasLength = areasServed | size | minus: 2 %}
{% capture employees %}{% for member in site.data.team.members %}{% if member.locations contains page.location %}
			{
				"@type": "Physician",
				"name": "{{ member.name }}",
				"jobTitle": "Chiropractor",
				"url": "{{ site.url }}/{{ page.location }}/team/{{ member.key }}",
				"email": "{{ member.email }}",
				"medicalSpecialty": "Chiropractic"
			}, {% endif %}{% endfor %}{% endcapture %}{% assign employeesLength = employees | size | minus: 2 %}
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Chiropractor",
		"@id": "{{ site.url }}{{ loc.url }}/#chiropractor",
		"naics": "621310",
		"image": [
			"{{ site.url }}/assets/img/logo.png"
		],
		"logo": "{{ site.url }}/assets/img/logo-square.png",
		"name": "{{ site.title }} - {{ loc.city }}",
		"description": "{{ loc.description | strip_newlines | strip }}",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "{{ loc.street_address }}",
			"addressLocality": "{{ loc.city }}",
			"addressRegion": "{{ loc.state_abbr | default: loc.state }}",
			"postalCode": "{{ loc.zip_code }}",
			"addressCountry": "US"
		},
		"geo": {
			"@type": "GeoCoordinates",
			"latitude": {{ loc.latitude }},
			"longitude": {{ loc.longitude }}
		},
		"areaServed": [ {{ areasServed | slice: 0, areasLength }}
		],
		"email": "{{ loc.email }}",
		"url": "{{ site.url }}{{ loc.url }}/",
		"telephone": "{{ loc.phone_number }}",
		"priceRange": "${{ site.data[page.location].pricing[0].per_visit }} - ${{ site.data[page.location].pricing[4].per_visit }}",
		"hasMap": "{{ loc.map_search_url | default: loc.google_maps_url }}",
		"sameAs": [
			"https://www.facebook.com/{{ site.facebook_username }}"
		],
		"medicalSpecialty": "Chiropractic",
		"openingHoursSpecification": [ {{ hours | slice: 0, hoursLength }}
		],
		"employee": [ {{ employees | slice: 0, employeesLength }}
		]
	}
</script>
{% endif %}
