<!-- Google Rich Result Data -->
<script type="application/ld+json">
{% capture hours %}{% for day in site.data.[page.location].general.hours %}
			{
				"@type": "OpeningHoursSpecification",
				"dayOfWeek": "{{ day.day }}",
				"opens": "{{ day.opens }}",
				"closes": "{{ day.closes }}"
			}, {% endfor %}{% endcapture %}{% assign hoursLength = hours | size | minus: 2 %}
{% capture areasServed %}{% for area in site.data.[page.location].general.area_served %}
			{
				"@type": "AdministrativeArea",
				"name": "{{ area }}"
			}, {% endfor %}{% endcapture %}{% assign areasLength = areasServed | size | minus: 2 %}
	{
		"@context": "https://schema.org",
		"@type": "Physiotherapy",
		"naics": "621310",
		"image": [
			"https://www.vitalityfamilychiropractic.com/assets/img/logo.png"
		],
		"logo": [
			"https://www.vitalityfamilychiropractic.com/assets/img/logo-square.png"
		],
		"name": "{{ site.title }}",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "{{ site.data.[page.location].general.street_address }}",
			"addressLocality": "{{ site.data.[page.location].general.city }}",
			"addressRegion": "{{ site.data.[page.location].general.state }}",
			"postalCode": "{{ site.data.[page.location].general.zip_code }}",
			"addressCountry": "US"
		},
		"geo": {
			"@type": "GeoCoordinates",
			"latitude": {{ site.data.[page.location].general.latitude }},
			"longitude": {{ site.data.[page.location].general.longitude }}
		},
		"areaServed": [ {{ areasServed | slice: 0, areasLength }}
		],
		"email": "{{ site.data.[page.location].general.email }}",
		"url": "{{ site.url }}{{ site.data.[page.location].general.url }}",
		"telephone": "{{ site.data.[page.location].general.phone_number }}",
		"priceRange": "${{ site.data.[page.location].pricing[0].per_visit }} - ${{ site.data[page.location].pricing[4].per_visit }}",
		"openingHoursSpecification": [ {{ hours | slice: 0, hoursLength }} 
		]
	}
</script>